<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeleniumStudy" verbose="1">
    <test name="TestNGLearn">
        <classes>
            <class name="com.selenium.study.Annotations"/>
        </classes>
    </test>
</suite>








































































































































































































































































































































































































































































































































